@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-up {
    animation: slideUp 0.5s ease-in-out;
}

#card-container > div, #more-cards > div{
    background-color:#2f43454d;
    border-radius: 10px;
    border: 0.3px solid #c4c4c447;
   }