

 .video-background-container:before{
    position: absolute;
    content:"";
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background-color: rgba(5, 5, 5, 0.9);
    z-index: 3;
}

.banner-section-info{
    z-index: 4;
}

.paid-container div {
    background-color:#2f43454d;
    border-radius: 10px;
    border: 0.3px solid #c4c4c447;
   }

   .paid-social-adss{
    border: 1px dashed white;
    border-radius: 6px;
}

.subscribe  {
    border-radius: 20px !important;
    border: 0.3px solid rgb(78, 75, 75);
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-up {
    animation: slideUp 0.5s ease-in-out;
}

.delivery-model{
    border-bottom: 0.2px solid rgb(77, 75, 75);
}

.trusted div{
    border-left: 1px solid #ddd;
    padding-left: 20px;
}