/* Css Variables */

:root{
    /* colors */
  
    --primary-color:linear-gradient(to right top,black,black,black,black,black,#060f13, #060f13,#060f13, #0c181d, #0d2026, #0c2830, #093039, #073a43, #04444e, #004e58);
    --title-color: #31ae90;
    --secondary-text-color:#48c5a7;
    --primary-button-color: #31ae90;
    --text-color: hsl(0,0%,50%);
    --body-color: hsl(0,0%,100%);
    --container-color: hsl(0,0%,93%);
    --border-color: hsl(0,0%,87%);
    --text-white: #fff;
    --table-color: #e6f7f8;
    --table-border-color: #32d7e0;
    --table-header: #00b2bd;
    --text-black:#0B0B0B;
  
    /* font and typography */
    
    --body-font:  'DM Sans', sans-serif;
    --second-font: 'Poppins', sans-serif;
    --location-font: 'Juana It', serif;
  
    --big-font-size: 56px;
    --h1-font-size: 45px;
    --h2-font-size: 32px;
    --h3-font-size: 24px;
    --large-font-size: 18px;
    --normal-font-size: 16px;
    --small-font-size: 15px;
    --smaller-font-size: 14px;
    --tiny-font-size: 12px;
  
    /* Font weight */
    --weight-400 : 400;
    --weight-500 : 500;
    --weight-600 : 600;
    --weight-700 : 700;
    --weight-800 : 800;

  
  }
  
  /* Base */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: var(--body-font);
    background: var(--primary-color);
  }

.banner-header h1:nth-child(odd){
  color: var(--secondary-text-color);
}

.header.scrolled {
    background-color: white;
    color: var(--text-black);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header.scrolled .mobile-view-nav-menu svg {
  fill: black; /* Changes the SVG fill color to black */
  color: black; /* Also changes the stroke color if needed */
}

.header.scrolled .contact-button:hover{
  border: 1px solid var(--secondary-text-color);
  background-color: white;
  color:var(--secondary-text-color);
}

  /* navbar section */
.brand-name h1{
    font-weight: 100;
    letter-spacing: 10px;
}

.desktop-menu-items a:hover{
    display: inline-block;
    padding: 5px 20px;
    border-radius: 30px;
    background-color: var(--third-color);
}

#active{
    padding: 5px 20px;
    border-radius: 30px;
    background-color: var(--third-color);
    color:white;
}

.desktop-menuItems-contactButton{
    background-color: var(--primary-button-color);
    padding: 5px 30px;
}

/* Banner Section */
.banner-section-info{
    font-family: 'Sora', sans-serif;
}

.banner-section-info .banner-header h1{
    line-height: 1.3em;
    outline: none;
}

.banner-shadow{
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.hover-shadow:hover{
  box-shadow: 0px 10px 50px rgba(97, 96, 96, 0.5);
}

.banner-shadow-dashboard{
  /* box-shadow: 0px 5px 70px rgba(196, 194, 194, 0.5); */
  border-radius: 10px;
}

/* marquee */
marquee{
    color: transparent !important;
    -webkit-text-stroke: 1px grey;
    font-family: var(--second-font);
}

/* table */
.custom-table{
    background-color: white;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; 
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }

.custom-table .custom-table-cell{
    padding: 20px;
    border-bottom: 1px solid var(--table-border-color);
    background-color: var(--table-color);
    width:300px;
}

.custom-empty-cell{
    padding: 32.5px;
}

.custom-table-row-first .custom-table-cell:nth-child(3){
    border-top-left-radius: 14px;
}

.custom-table-row-1 .custom-table-cell{
    border-left: 1px solid var(--table-border-color);
}

.custom-table-row-2 .custom-table-cell{
    border-left: 1px solid var(--table-border-color);
}

.custom-table-row-1 .custom-table-cell:nth-child(2){
    border-top-left-radius: 14px;
}

.custom-table-row-1 .custom-table-cell:nth-child(2), .custom-table-row-2 .custom-table-cell:nth-child(2) {
    background-color:  #00b2bd;
}

.custom-table-cell-3, .custom-empty-cell-3{
    background-color: #0a1a2a !important;
    border-bottom: none !important;
    color:white;
    width: 350px !important;
}

.custom-empty-cell-3{
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.custom-table-cell-3{
    border-bottom: 1px solid #ddd !important;
}

/* tree */

.tree ul {
    padding-top: 20px; 
    position: relative;
    transition: all 0.5s;
  }
  
  .tree ul ul::before {
    content: '';
    position: absolute; 
    top: 0px; 
    left: 50%;
    border-left: 3px solid #ccc;
    width: 0; 
    height: 41px;
  }
  
  .tree li {
    float: left; 
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 10px; /* Adjust padding to add spacing between nodes */
    transition: all 0.5s;
  }
  
  .tree li::before, .tree li::after {
    content: '';
    position: absolute; 
    top: 20px; 
    right: 50%;
    border-top: 3px solid #ccc;
    width: 50%; 
    height: 40px;
  }
  
  .tree li::after {
    right: auto; 
    left: 50%;
    border-left: 3px solid #ccc;
  }
  
  .tree li:only-child::before, .tree li:only-child::after {
    display: none;
  }
  
  .tree li:only-child { 
    padding-top: 0;
  }
  
  .tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
  }
  
  .tree li:last-child::before {
    border-right: 3px solid #ccc;
    border-radius: 0 15px 0 0;
  }
  
  .tree li:first-child::after {
    border-radius: 15px 0 0 0;
  }
  
  .tree .node {
    padding: 20px;
    border: 1px solid #666;
    display: inline-block;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.5s;
    margin-left: 60px; /* Adds space between nodes */
    margin-right: 60px; 
    text-align: left;
    margin-top: 40px;
    position: relative;
  }

  @media screen and (min-width: 300px) and (max-width:608px) {
    .tree ul:nth-child(2){
      padding-top: 0px;
    }
    .tree ul ul::before {
      border-left: none;
      height: 0px;
      }

    .tree li{
      padding: 0px;
    }

    .tree ul li ul {
      padding: 0px 20px;
    }

    .tree li ul li {
      padding: 10px ; 
    }

    .tree li::before, .tree li::after {
      border-top: none;
      top: 0px; 
      height: 0px;
    }
    
    .tree li::after {
      border-left: none;
    }

    .tree li:last-child::before {
      border-right: none;
    }
    
    .tree .node {
      margin-left: 0px; /* Adds space between nodes */
      margin-right: 0px; 
      margin-top: 0px;
    }

    .node-para{
      display: none;
    }

    .tree .node {
      padding: 10px;
    }
  }

  @media screen and (min-width: 609px) and (max-width:700px) {
    .tree .node {
      margin-left: 0px; /* Adds space between nodes */
      margin-right: 0px; 
    }
  }


  @media screen and (min-width: 700px) and (max-width:808px) {
    .tree .node {
      margin-left: 5px; /* Adds space between nodes */
      margin-right: 5px; 
    }
  }

  @media screen and (min-width: 809px) and (max-width:1000px) {
    .tree .node {
      margin-left: 10px; /* Adds space between nodes */
      margin-right: 10px; 
    }
  }

  @media screen and (min-width: 1001px) and (max-width:1165px) {
    .tree .node {
      margin-left: 25px; /* Adds space between nodes */
      margin-right: 25px; 
    }
  }

  @media screen and (min-width: 1169px) and (max-width: 1409px) {
    .tree .node {
      margin-left: 40px; /* Adds space between nodes */
      margin-right: 40px; 
    }
  }

  .tree .node:hover{
    background-color: var(--third-color);
    border: 1px solid rgb(255, 255, 255);
  }

  .tree .node:hover span{
    color:white !important;
  }

  .node-para{
    position: absolute;
    width:100px;
    bottom: -55px;
    left:0px;
  }

  @keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
  }

  /* footer */
  footer .ciel{
    position: relative;
  }

  @media screen and (min-width: 649px) {
    .load {
      display: inline-block;
    }
    .load span {
      font-family: Arial;
      font-size: 35px;
    }
   
  }
  
 
.address{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.address button{
    color:black;
    background-color: transparent;
    border-radius:60px;
    padding:10px ;
    font-weight:bolder;
    letter-spacing: 2px;
    position:relative;
    border: 1px solid black;
}
.address button span{
    height:0%;
    width:100%;
    background-color:black;
    position:absolute;
    z-index:-1;
    border-radius:20px;
    left:0;
    bottom:0;
    transition:0.3s;
    color:white;
}
.address button:hover span{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hiring-section {
    padding: 30px;
    text-align: center;
}

.hiring-title {
    font-size: 3.5vw;
    color: #333;
    margin-bottom: 10px;
}

.hiring-description {
    font-size: 16px;
    color: #666;
}

.apply-button {
    background-color: #070707;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
}

.apply-button:hover {
    background-color: #353738;
}

.logo{
  white-space: nowrap;
  position: relative;
}

.logo::before{
  position: absolute;
  top:0;
  left:0;
  width:250px;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,0), white);
  content:"";
  z-index: 2;
}

.logo::after{
  position: absolute;
  top:0;
  right:0;
  width:250px;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0), white);
  content:"";
  z-index: 2;
}

.logo:hover .clients{
  animation-play-state: paused;
}

.clients{
  display: inline-block;
  animation: loopscroll 35s linear infinite;
}

.clients img{
  display: inline-block;
  height: 50px;
  margin: 0 40px !important;
}

@keyframes loopscroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes sparkle {
  0%, 100% {
      opacity: 0.8;
      filter: brightness(1);
      transform: scale(1);
  }
  50% {
      opacity: 1;
      filter: brightness(1.5);
      transform: scale(1.1);
  }
}

@keyframes subtleSparkle {
  0%, 100% {
      opacity: 1;
      filter: brightness(1);
  }
  50% {
      opacity: 1;
      filter: brightness(1.2);
  }
}

/* New Animations for Images */

/* 1. Zoom-In Effect (Image 1) */
.animation-zoom-in {
  animation: zoomIn 1s cubic-bezier(0.47, 0, 0.75, 0.72) forwards;
}

@keyframes zoomIn {
  0% {
      transform: scale(0.8);
      opacity: 0;
  }
  50% {
      transform: scale(1.05);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

/* 2. Slide-In-From-Right Effect (Image 2) */
.animation-slide-right {
  animation: slideInRight 1s ease-in-out forwards;
}

@keyframes slideInRight {
  0% {
      transform: translateY(100px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

/* 3. Fade-Up Effect (Image 3) */
.animation-fade-up {
  animation: fadeUp 1s ease-in-out forwards;
}

@keyframes fadeUp {
  0% {
      transform: translateY(100px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

/* Wiggle and Drop Effect (Image 4) */
.animation-drop {
  animation: drop 1s ease-out forwards;
}

@keyframes drop {
  0% {
      transform: translateY(-300px) ; /* Start from above */
      opacity: 0; /* Invisible initially */
  }
  100% {
      transform: translateY(0) ; /* Settle in the final position */
  }
}

/* 5. Pulse Effect (Image 5) */
.animation-pulse {
  animation: pulseEffect 1s ease-in-out forwards;
}

@keyframes pulseEffect {
  0% {
      transform: scale(1);
      filter: brightness(1);
      opacity: 0;
  }
  50% {
      transform: scale(1.1);
      filter: brightness(1.2);
      opacity: 0.5;
  }
  100% {
      transform: scale(1);
      filter: brightness(1);
      opacity: 1;
  }
}

.location-title{
  font-family: var(--location-font);
  font-size: 20px;
}

.footer-box-3{
  border-bottom-right-radius: 100px !important;
  background-color: rgba(255, 255, 255, 0.09);
}

.level-up div{
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 30px;
}

.level-up{
  height:600px;
}

.level-up1{
  height: 400px;
}

.level-up2{
  height: 180px;
}

.level-up3{
  height: 350px;
}

.level-up4{
  height: 230px;
}

.level-up5{
  height: 310px;
}
.level-up6{
  height: 270px;
}

.circle-parent-container{
  margin: 140px 0px;
  position: relative;
  z-index: -2;
}

.circle-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Circle animation */
.circle {
  position: absolute;
  fill: none;
  stroke: white;
  stroke-width: 1px;
  opacity: 1;
  animation: growAndFade 4s ease-in-out infinite;
}

/* Each circle with a slight delay */
.circle1 { animation-delay: 0s; }
.circle2 { animation-delay: 2s; }
.circle3 { animation-delay: 4s; }


/* Center circle */
.center-circle {
  position: absolute;
  cx: 250px;
  cy: 250px;
  r: 150px;
  fill: rgb(3, 3, 3); /* White background */
}

@keyframes growAndFade {
  0% {
    r: 150; /* Start size */
    opacity: 1;
    stroke-width: 1px;
  }
  50% {
    r: 175; /* Grow size */
    stroke-width: 1px;
    opacity: 0.8;
  }
  100% {
    r: 200; /* Largest size */
    stroke-width: 1px;
    opacity: 0; /* Fade out */
  }
}

.grid-container {
  width: 100%;
  display: flex;
  z-index: -1;
}

.text-container {
  width: 50%; /* Ensure containers take the full width */
}


.scroll-wrapper {
  overflow: hidden; /* Hide the overflow to create a scrolling effect */
  transform: rotate(180deg);
}

.scroll-inner-text {
  display: flex;
  gap: 1rem; /* Space between the elements */
  white-space: nowrap; /* Prevent line breaks */
  animation: loopscroll 5s linear infinite;
}

.scroll-inner-text-2 {
  display: flex;
  gap: 1rem; /* Space between the elements */
  white-space: nowrap; /* Prevent line breaks */
  animation: loopscroll 8s linear infinite;
}

.scroll-inner-text-3 {
  display: flex;
  gap: 1rem; /* Space between the elements */
  white-space: nowrap; /* Prevent line breaks */
  animation: loopscroll 12s linear infinite;
}

.scrolling-text .scroll-inner-text div, .scroll-inner-text-2 div, .scroll-inner-text-3  div {
  border-radius: 30px;
  transform: rotate(180deg);
  border: 0.1px solid rgb(12, 12, 12);
  color:black;
}

@keyframes loopscroll {
  from {
    transform: translateX(0); /* Start from the initial position */
  }
  to {
    transform: translateX(-50%); /* Move halfway to scroll the entire set */
  }
}

.second-container .scroll-inner-text div, .second-container .scroll-inner-text-2 div , .second-container .scroll-inner-text-3 div{
  background: linear-gradient(to right top,black, #0c181d, #0d2026, #0c2830, #093039, #073a43, #04444e, #004e58);
  color:rgb(250, 246, 246);
  border: none;
  font-weight: 500;
}

.blog-post{
  position: relative;
}

.blog-post::before , .blog-post::after{
  content:"";
  position: absolute;
  left:-2px;
  top:-2px;
  background : linear-gradient(45deg , #e6fb04);
}
